ALLOWED_HOSTS=['*']


SECRET_KEY=12321321321_1
DB_NAME=login
DB_USER=login
DB_PASS=login
DB_SERVICE=postgres
DB_PORT=5432
DEBUG=True

CELERY_BROKER=redis://redis:6379/0
RESULT_BACKEND=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0


EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False


FIREBASE_SERVER_KEY=